<footer id='footer' class='container-wrapper'>
<div class='block flex'>
    <div class='containing-block'>
        <h5 class='arrow-container'><span>STORE INFORMATION</span><span class='fas fa-angle-down arrow-down transition-transform'></span></h5>
        <div class='nested-block'>
            <ul>
                <li class='footer-info'><span class='fas fa-map-marker icon'></span><span>Hair Salon Store USA 192 Section 2 AuCa, Hawaii 12345 United States</span></li>
                <li class='footer-info'><span class='fas fa-phone icon'></span><span>055-888-8888</span></li>
                <li class='footer-info'><span class='far fa-envelope icon'></span><span>demo@demo.com</span></li>
                <li class='footer-info'><span class='fab fa-facebook icon'></span><span class='fab fa-twitter icon'></span><span class='fab fa-youtube icon'></span><span class='fab fa-instagram icon'></span></li>
            </ul>
        </div>
    </div>
    <div class='containing-block'>
        <h5 class='arrow-container'><span class='footer-title'>OUR COMPANY</span><span class='fas fa-angle-down arrow-down transition-transform'></span></h5>
        <div class='nested-block'>
            <ul>
                <li class='footer-info'><a href='#' class='menu-link transition-color'>Delivery</a></li>
                <li class='footer-info'><a href='#' class='menu-link transition-color'>Legal Notice</a></li>
                <li class='footer-info'><a href='#' class='menu-link transition-color'>Terms and conditions of use</a></li>
                <li class='footer-info'><a href='#' class='menu-link transition-color'>About us</a></li>
                <li class='footer-info'><a href='#' class='menu-link transition-color'>Secure payment</a></li>
            </ul>
        </div>
    </div>
    <div class='containing-block'>
        <h5 class='arrow-container'><span>YOUR ACCOUNT</span><span class='fas fa-angle-down arrow-down transition-transform'></span></h5>
        <div class='nested-block'>
            <ul>
                <li class='footer-info'><a href='#' class='menu-link transition-color'>Personal info</a></li>
                <li class='footer-info'><a href='#' class='menu-link transition-color'>Orders</a></li>
                <li class='footer-info'><a href='#' class='menu-link transition-color'>Credit slips</a></li>
                <li class='footer-info'><a href='#' class='menu-link transition-color'>Addresses</a></li>
            </ul>
        </div>
    </div>
    <div class='containing-block'>
        <h5 class='arrow-container'><span>OUR NEWSLETTER</span><span class='fas fa-angle-down arrow-down transition-transform'></span></h5>
        <div class='nested-block'>
            <p class='footer-info'>Sign up for latest updates and resources</p>
            <form id='footer-form'>
                <input type='email' id='footer-input' placeholder="Your email address">
                <button type='submit' class='btn'>SUBSCRIBE</button>
            </form>
        </div>
        </div>
    </div>
</footer>