<div id={{switchBtnsInfo.id}} class='flex switch-btns'>
    {{#each switchBtnsInfo.btnInfo}}
    <div id={{this.id}} class='switch-btn transition-color-bg-color {{this.class}}'>{{this.name}}</div>
    {{/each}}
</div>
