{{>menu menuData=menuData showUserNavMenu=showUserNavMenu}}
<section id='categories' class='wrapper'>
    {{>switch-btns switchBtnsInfo = switchBtnsInfo}}
    {{>carousel productsData = productsData subCategoriesArr = subCategoriesArr}}
</section>