#header-info-container {
    padding: 20px 10px;
}

#product-nav-menu {
    justify-content: space-between;
    padding: 40px 70px;
    background-color: rgb(255, 174, 201);
    position: static;
}

#product-nav-menu .nested-block,
#user-nav-menu .nested-block {
    position: absolute;
    left: 0;
}

.header-info {
    width: 25%;
}

nav .show-element {
    display: flex;
}

#burger {
    visibility: hidden;
}

.burger-line {
    width: 45px;
    height: 5px;
    background-color: black;
}

.burger-line:nth-of-type(2) {
    margin: 5px 0;
}

#burger:hover .burger-line {
    background-color: rgb(255, 174, 201);
}

#user-nav-menu .containing-block {
    position: relative;
    margin-right: 20px;
}

#user-nav-menu .user-nav-menu-icon {
    font-size: 24px;
}

#user-nav-menu .nested-block {
    background-color: white;
}

#user-nav-menu .nested-block:nth-of-type(1) {
    border-radius: 10px;
}

#user-nav-menu-form {
    width: 200px;
    border: solid rgb(255, 213, 216) 3px;
    border-radius: 10px;
    padding-top: 20px;
}

#search-input {
    width: 100%;
}

#search-input,
.search-btn {
    height: 40px;
}

.search-btn {
    width: 20%;
    text-align: center;
    line-height: 40px;
    border: solid rgb(255, 213, 216) 3px;
}

#search-container .form-errors {
    padding: 5px 0;
}

#user-account-menu .menu-option {
    font-size: 17px;
}

#product-nav-menu .cross {
    display: none;
}

.product-nav-menu-option {
    color: white;
    font-size: 17px;
}

#main-page-link {
    color: inherit;
}

.product-menu-options-container:nth-of-type(2) {
    margin: 0 40px;
}

.menu-title {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 20px;
}

.product-nav-menu-option:hover,
.menu-link:hover,
.menu-option:hover,
#burger:hover .burger-line,
#user-nav-menu .containing-block:hover,
.search-btn {
    cursor: pointer;
}

#product-nav-menu .sub-menu {
    left: 100%;
    z-index: 2;
}

.menu-option,
.menu-link {
    white-space: nowrap;
}

.menu,
#user-account-menu {
    background-color: white;
    border: solid black 1px;
    padding: 25px 20px;
    color: black;
}

.menu,
#user-nav-menu .nested-block {
    z-index: 1;
}

.menu-option {
    padding: 10px 3px;
    border-bottom: solid black 1px;
}


.menu-option:hover,
.menu-link:hover {
    color: rgb(255, 174, 201);
}

#registration-authentication-form .btn {
    margin: 0 auto;
}


@media screen and (max-width: 1023px) {

    #header-info-container {
        padding: 15px;
    }

    .header-info:nth-of-type(1),
    .header-info:nth-of-type(2) {
        margin-bottom: 20px;
    }

    .header-info:nth-of-type(2) {
        text-align: right;
    }

    .header-info:nth-of-type(1),
    .header-info:nth-of-type(3) {
        width: 70%;
    }

    .header-info:nth-of-type(2),
    .header-info:nth-of-type(4) {
        width: 30%;
    }

    #burger {
        visibility: visible;
    }

    #product-nav-menu {
        position: fixed;
        flex-direction: column;
        background-color: white;
        justify-content: start;
        overflow-y: scroll;
        transform: translateX(-100%);
    }

    #product-nav-menu .cross {
        display: block;
    }

    #product-nav-menu .containing-block .show-element {
        height: auto;
    }

    .product-nav-menu-option {
        font-size: 18px;
        color: black;
        margin: 0 0 30px 40px;
    }

    .product-nav-menu-option:hover {
        color: rgb(255, 174, 201);
    }

    #product-nav-menu .nested-block,
    #product-nav-menu .sub-menu {
        margin-left: 20px;
    }

    #product-nav-menu .nested-block {
        font-size: 16px;
        height: 0;
        position: static;
    }

    .menu-list,
    .sub-menu,
    .product-menu-options-container {
        padding-top: 25px;
    }

    #product-nav-menu .sub-menu {
        font-size: 15px;
    }

    #product-nav-menu .flex {
        flex-direction: column;
    }

    .product-menu-options-container:nth-of-type(2) {
        margin: 0;
    }

    .product-menu-options-container {
        margin-bottom: 30px;
    }

    #user-nav-menu .nested-block {
        right: 0;
        left: auto;
    }

    #user-nav-menu {
        justify-content: end;
    }

    .menu {
        border: none;
        position: static;
        height: 0;
        opacity: 0;
        padding: 0;
    }

    .menu-option {
        border-bottom: none;
    }

    .open-menu {
        transform: translateX(0) !important;
    }
}
    @media screen and (max-width: 767px) {

        #burger,
        .header-info:nth-of-type(4) {
            width: 50%;
        }

        #product-nav-menu {
            padding: 40px 10px;
        }

        .header-info:nth-of-type(1),
        .header-info:nth-of-type(2) {
            width: 100%;
        }

        .header-info:nth-of-type(1),
        .header-info:nth-of-type(2) {
            margin-bottom: 30px;
        }

        .header-info:nth-of-type(2) {
            text-align: left;
        }

        #user-account-menu {
            padding: 15px;
        }

        .window-form-fieldset {
            padding: 50px 10px;
        }
    }