#sales {
    padding: 100px 0;
}

#sales h2 {
    text-align: center;
}


#sales .product-card {
    visibility: hidden;
    opacity: 0;
    width: 0;
}


#sales .show-element {
    width: 200px;
    margin: 0 80px 80px 0;
}

@media screen and (max-width: 1023px) {

    #sales-cards-container {
        justify-content: space-between;
    }

    #sales .show-element {
        margin: 0 20px 60px 0;
    }
}

@media screen and (max-width: 767px) {

    #sales-cards-container {
        justify-content: center;
    }

    #sales .show-element {
        margin: 0 0 60px 0;
    }
}